.forgot_password_container {
  /* width:98%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid black; */
  /* height:100vh; */
  padding: 7rem 0 0 0;
  border-radius: 2rem;
}

.forgot_password {
  width: 27vw;
  height: 100%;
  /* border:2px solid black; */
  display: block;
  justify-content: center;
  /* background-color:white; */
  box-sizing: border-box;

  padding: 2rem 0 0 2rem;
  border-radius: 1rem;

  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  */
}
.forgot_password_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  /* margin-left:1rem; */

  background-color: var(--btnColor);
  border-radius: 1.25rem 1.25rem 0 0;
  border: none;
}
.header3 {
  color: white;
  text-transform: uppercase;
}
.forgot_password_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 1.6rem 1.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.forgot_password_input {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 1rem;
  background-color: white;
  /* box-shadow: var(--formShadow); */
}

.forgot_password_input label {
  margin: 0 0 0.5rem 0; /* Space between label and input */
  font-size: 0.9rem;
  padding: 0 0 0 0.3rem;
}

.forgot_password_input input {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  font-size: 0.94rem;
    width: 100%;
  /* box-shadow: var(--formShadow); */
}

.forgot_password_button {
  margin: 0.4rem 0 0 0;
  width: 100%;
  display: flex;
  border-radius: 1rem;
}
.send_mail {
  width:21.5vw;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--btnColor);
  color: white;
}
.send_mail:hover {
  cursor: pointer;
  background-color: var(--btnHoverColor);
  font-size: 1rem;
}
.success{
  font-size: .8rem;
   
    color: rgb(29, 197, 29);
    /* margin: .2rem 0rem .2rem .5rem; */
    margin-top: 0;
  }

