/* pie.css */

.pie-css {
    width:75%;
    margin: 1.25rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    border-radius: 1rem ;
  }
  
  .pie-css canvas {
    max-height: 250px;
    width: 100% !important;
    height: auto !important;
  }
  
  
  @media (max-width: 480px) {
    .pie-css {
      padding: 12px;
      /* max-width: 90%; */
    }
  }
  