.reset_password_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:auto;
    
}
.reset_password{
   width:24vw;
    padding:5.7rem;
    /* border: 2px solid black; */


}
.reset_password_header{
    /* width:30vw; */
    height:5rem;
    text-align:center;
     border-radius:1rem 1rem 0 0;
    background-color:var(--btnColor);
}  
.reset_head{
  padding:1.7rem 0 0 0 ;
    color:white;
    font-size:1.4rem;
}
.reset_password_content{
    /* width:30vw; */
    /* border: 2px solid black; */
    padding:1rem 0 1rem 0;
    background-color:var(--bgColor);
    border-radius:  0 0 1rem 1rem;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.reset_password_input{
    display: flex;
    flex-direction: column;
    padding:.2rem 1.7rem .4rem 1.7rem;;
}
.reset_password_input label{
    font-size:.9rem;
}
.reset_input{
    height:.1rem;
    padding:.8rem;
    border-radius:.4rem;
}

.reset_password_button{
    display:flex;
    justify-content: center;
    align-items: center;
      padding:1rem 0 1rem 0; 

}
.reset_password_btn{
    width:20vw;
    height:1.9rem;
    border-radius:.4rem;
    border:none;
    background-color: var(--btnColor);
    color:white;
    /* padding:.2rem 1.7rem .4rem 1.7rem;; */
}

.reset_password_btn:hover{
    background-color: var(--btnHoverColor);
    cursor: pointer;
    font-size: .9rem;
}
    