:root {
  --navColor: #1f2937;
  --btnColor: #2563eb;
  --formShadow: rgba(37, 99, 235, 0.24);
  --btnHoverColor: #1d4ed8;
  --errorColor: #ff4d4f;
  --btnTextColor: #ffffff;
  --btnDisabled: #8189d9;
}

#root {
  min-height: 100vh;
}
